body {
    background: url("https://images.unsplash.com/photo-1643345397840-651fc8efd91e?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color: white;
    font-family: poppins;
    text-align: center;
    margin-top: 300px;
    font-size: 36px;
    text-shadow: 0 0 5px black;
    letter-spacing: 5px;
}